.Checkmark-container {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1000;

    .Checkmark-message {
        position: relative;
        top: 53%;
        opacity: 0;
        font-weight: lighter;

        &.animation {
            opacity: 1;
            transition: 1.5s all; 
        }
    }


    .Checkmark {
    width: 126px;
    height: 126px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #00aced;
    position: relative;
    margin: 0 auto;
    top: 45%;

    &.animation {
        animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    }
    }

    .Checkmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #00aced;
    fill: none;

    &.animation {
        animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
    }
    
    }

    .Checkmark-check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;

    &.animation {
        animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
    }
    
    }

    @keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
    }

    @keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
    }

    @keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 100px #00aced;
    }
    }
}